USE [master]
GO
/****** Object:  Database [TenzatDB]    Script Date: 01/19/2014 14:48:44 ******/
CREATE DATABASE [TenzatDB] ON  PRIMARY 
( NAME = N'TenzatDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TenzatDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TenzatDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TenzatDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TenzatDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TenzatDB]
GO
/****** Object:  Table [dbo].[Moderators]    Script Date: 01/19/2014 14:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderators](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[CreateAdmin] [bit] NULL,
	[CreateList] [bit] NULL,
	[SetHotLists] [bit] NULL,
	[ApproveLists] [bit] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Moderators] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lists]    Script Date: 01/19/2014 14:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lists](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[ListDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Views] [int] NULL,
	[FbShares] [int] NULL,
	[TwitterShares] [int] NULL,
	[Rank] [int] NULL,
	[Hot] [bit] NULL,
	[ListType] [int] NULL,
	[Status] [int] NULL,
	[Tag] [int] NULL,
 CONSTRAINT [PK_Lists] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListItems]    Script Date: 01/19/2014 14:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ListID] [int] NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Drawable] [nvarchar](max) NULL,
	[ItemType] [int] NULL,
	[MoreText] [nvarchar](max) NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_ListItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Lists_Moderators]    Script Date: 01/19/2014 14:48:45 ******/
ALTER TABLE [dbo].[Lists]  WITH CHECK ADD  CONSTRAINT [FK_Lists_Moderators] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Moderators] ([ID])
GO
ALTER TABLE [dbo].[Lists] CHECK CONSTRAINT [FK_Lists_Moderators]
GO
/****** Object:  ForeignKey [FK_ListItems_Lists]    Script Date: 01/19/2014 14:48:45 ******/
ALTER TABLE [dbo].[ListItems]  WITH CHECK ADD  CONSTRAINT [FK_ListItems_Lists] FOREIGN KEY([ListID])
REFERENCES [dbo].[Lists] ([ID])
GO
ALTER TABLE [dbo].[ListItems] CHECK CONSTRAINT [FK_ListItems_Lists]
GO
