@{
    ViewBag.Title = "SetHotList";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="listmain1">
    <div class="searchcont">
    <label class="search"> Searching ...</label>
        </div>
        <div class="srchcont">
          <label class="searchby">Search by Title :</label>  
    <input type="text" class="tbox" />
        </div>
    <div class="srchcont">
        <label class="searchby">Search by Tag :</label> 
     <select class="droplist1">
     <option>سياسه</option>
      <option> مرأه</option>
      <option>مال وأعمال</option>
 </select>
    </div>
    <div class="srchbtncont">
        <input type="submit" value="Search" class="srchbtn" />
    </div>
</div>
<div class="itemview1">
<div class="item">
<img src="~/content/imgs/lists/l7.png"/>
<h2>رجل معلق فوق النهر</h2>
<span>صورة رجل معلق فوق النهر بقدميه دون خوف صورة رجل معلق فوق النهر بقدميه دون خوف صورة رجل معلق فوق النهر بقدميه دون خوف صورة رجل معلق فوق النهر بقدميه دون خوف</span>
    <div class="hotset">
    <input type="submit" value="Hot List" class="setbtn"/>
</div>
    </div>
    </div>
