<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic"
        rel="stylesheet" />
    <script type="text/javascript" src="../../content/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../content/js/jquery.dropotron.min.js"></script>
    <script type="text/javascript" src="../../content/js/config.js"></script>
    <script type="text/javascript" src="../../content/js/skel.min.js"></script>
    <script type="text/javascript" src="../../content/js/skel-panels.min.js"></script>
    <link rel="stylesheet" href="../../content/css/style.css" />
    <link href="~/content/css/style-mobile.css" media="handheld,screen and (min-width:0px) and (max-width:500px)" rel="stylesheet" />
    <link rel="stylesheet" media="handheld,screen and (min-width:500px) and (max-width:100000px)" href="../../content/css/style-desktop.css" />
    <noscript>
        <link rel="stylesheet" href="../../content/css/skel-noscript.css" />
    </noscript>
</head>
<body class="homepage">
    <div id="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <!-- Header -->
                    <section id="header">
                        <!-- Logo -->
                        <h1>
                            <a href="#">Tenzat</a></h1>
                        <!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li class="current_page_item"><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    		<!-- Footer Wrapper -->
			@*<div id="footer-wrapper">*@
				
				<!-- Footer -->
					<section id="footer" class="container">
						<div class="row">
							<div class="12u">
							
								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Untitled	</li>
											<li>Images: <a href="http://facebook.com/DreametryDoodle">Dreametry Doodle</a></li>
											<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				
			@*</div>*@
</body>
</html>
