@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}

<div class="about-page">
    <div class="about-box">
        <div class="about-content">


        </div>
    </div>
</div>
