@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}

<div class="contact-page">
					<div id="map">
					</div>
					<div class="contact-box" style="direction:rtl;">
						@*<div class="contact-info">
							<h1>Get in touch with us</h1>
							<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
						</div>*@
						<form id="contact-form">
							<h1 style="text-align:right;">أتصل بنا</h1>
							<div class="submit-area">
								<textarea name="comment" id="comment" placeholder="أكتب رسالة"></textarea>
								<input type="submit" id="submit_contact" class="main-button" value="أرسال">
								<div id="msg" class="message"></div>
							</div>

                            <div class="text-fields">
								<div class="float-input">
									<input name="name" id="name" type="text" placeholder="الأسم">
									<span><i class="fa fa-user"></i></span>
								</div>
								<div class="float-input">
									<input name="mail" id="mail" type="text" placeholder="البريد الألكترونى">
									<span><i class="fa fa-envelope-o"></i></span>
								</div>
								<div class="float-input">
									<input name="website" id="website" type="text" placeholder="الموقع">
									<span><i class="fa fa-link"></i></span>
								</div>
							</div>
						</form>
					</div>
				</div>
