@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}

<script type="text/javascript">
    (function ($, W, D) {
        var JQUERY4U = {};
        JQUERY4U.UTIL =
        {
            setupFormValidation: function () {
                $("#contact-form").validate({
                    rules: {
                        comment: {
                            required: true
                        },
                        name: {
                            required: true
                        },
                        mail: {
                            required: true,
                            email:true
                        },
                        website: {
                            required: true
                        }
                    },
                    messages: {
                        comment: {
                            required: "الرجاء ادخال الرسالة"
                        },
                        name: {
                            required: "الرجاء ادخال الاسم"
                        },
                        mail: {
                            required: "الرجاء ادخال الإيميل",
                            email:"الرجاء ادخال ايميل صحيح"
                        },
                        website: {
                            required: "الرجاء ادخال الموقع"
                        }
                    },
                    submitHandler: function (form) {
                        $(function () {
                            var data = $('#contact-form').serialize();
                            alert(data);
                            $.ajax({
                                url: '/Home/SendMessage',
                                type: 'post',
                                data: data,
                                success: function (data) {
                                    $("#MSG").fadeIn(500);
                                },
                                error: function (data) {
                                    alert(data.responseText);
                                }
                            });
                        });
                    }
                });
            }
        }
        $(D).ready(function ($) {
            JQUERY4U.UTIL.setupFormValidation();
        });

    })(jQuery, window, document);
</script>

<div class="contact-page">
					<div id="map">
					</div>
					<div class="contact-box" style="direction:rtl;">
						@*<div class="contact-info">
							<h1>Get in touch with us</h1>
							<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
						</div>*@
						<form id="contact-form">
							<h1 style="text-align:right;">أتصل بنا</h1>
                            
                            <div class="text-fields">
								<div class="float-input">
									<input name="name" id="name" type="text" placeholder="الأسم">
									<span><i class="fa fa-user"></i></span>
								</div>
								<div class="float-input">
									<input name="mail" id="mail" type="text" placeholder="البريد الألكترونى">
									<span><i class="fa fa-envelope-o"></i></span>
								</div>
								<div class="float-input">
									<input name="website" id="website" type="text" placeholder="الموقع">
									<span><i class="fa fa-link"></i></span>
								</div>
							</div>

                            <div class="submit-area">
								<textarea name="comment" id="comment" placeholder="أكتب رسالة"></textarea>
								<input type="submit" class="main-button" value="أرسال">
								<div id="msg" class="message"></div>
							</div>
						</form>
                        <div id="MSG" style="width:100%; height:auto; display:none;">
                            <h4 style="width:100%;color:rgb(26, 181, 179); text-align:center;">تم ارسال الرسالة بنجاح</h4>
                        </div>
					</div>
				</div>
