@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}

@using Tenzat.Models;

<script src="~/Scripts/Index.js"></script>
<link href="~/content/css/css.css" rel="stylesheet" />
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- Portfolio -->
                <section>
                    <header class="major">
                        <h2>Top Lists</h2>
                    </header>
                    <div>
                        <div id="ListCont" class="row">
                            @{
                                foreach (var l in ViewBag.Ranklists)
                                {
                                <div class="4u" style="margin-bottom: 50px;">
                                    <section class="box">
                                        <a href="/Lists/ViewList?_ID=@l.ID" class="image image-full">
                                            <img src="@l.image" alt="" /></a>
                                        <div class="listtagcont">
                                          <div class="boxtag"> <span>@Enum.GetName(typeof(Tags),l.Tag)</span></div> 
                                        </div>
                                        <header>
                                            <h3>@l.Title</h3>
                                        </header>
                                        <footer>
                                            <a href="/Lists/ViewList?_ID=@l.ID"  class="button fa fa-file-text" >Continue Reading</a>
                                        </footer>
                                    </section>
                                  
                                </div>
                                }
                            }

                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
