@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="leftpanel">
    <img src="/content/imgs/lists/l0.jpg" />
    <span class="category">تكنولوجيا</span>
    <span class="title">اشهر 10 العاب تم بيعها في 2013 بارباح خياليه</span>
    <span class="descr">العاب تتخطى ارباحها المليار دولار في عام واحد معظمها تم تصميمها في امريكا</span>
    <span class="social">
        <img src="/content/imgs/facebook.png" />
        <img src="/content/imgs/twitter.png" />
    </span>
</div>
<div class="listspanel">
    <div class="list">
        <img src="/content/imgs/lists/l7.png" />
        <span class="category">حياه</span>
        <span class="title">اغرب 10 اخطاء يندم اصحابها على ارتكابها</span>
    </div>
    <div class="list">
        <img src="/content/imgs/lists/l1.png" />
        <span class="category">المراه</span>
        <span class="title">افضل عشر اكلات مغذيه لطفلك اثناء الحمل</span>
    </div>
    <div class="list">
        <img src="/content/imgs/lists/l2.png" />
        <span class="category">المراه</span>
        <span class="title">اسرع 10 طريق للحفاظ على بشرتك يوميا</span>
    </div>
    <div class="list">
        <img src="/content/imgs/lists/l3.png" />
        <span class="category">سياسه</span>
        <span class="title">اشهر 10 لحظات في التاريخ المصري الحديث</span>
    </div>
    <div class="list">
        <img src="/content/imgs/lists/l5.png" />
        <span class="category">مال واعمال</span>
        <span class="title">اكثر 10 سلع مبيعا في العالم</span>
    </div>
    <div class="list">
        <img src="/content/imgs/lists/l6.png" />
        <span class="category">رياضه</span>
        <span class="title">افضل 10 اهداف عالميه لهذا الاسبوع</span>
    </div>
</div>
