@{
    ViewBag.Title = "ViewList";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<script src="~/Scripts/Lists.js"></script>

<div class="listmain">
    <img style="width: 100%" src="/content/imgs/lists/l0.jpg" />
    <span class="category">تكنولوجيا</span>
    <span class="title">اشهر 10 العاب تم بيعها في 2013 بارباح خياليه</span>
    <span class="descr">صناعة العاب الكمبيوتر والاجهزه المتخصصه تعتبر من اقوى واكبر الصناعات ربحيه في العالم , في هذه القائمه نقوم بعرض اكثر 10 العاب مبيعا في العالم , مليارات الدولارات تدخل الخزينه الامريكيه بسبب هذه الصناعه سنويا</span>
    <span class="social">
        <img src="/content/imgs/facebook.png" />
        <img src="/content/imgs/twitter.png" />
    </span>
</div>
<div class="related">
    <div class="relatedlist">
        <img src="/content/imgs/lists/l7.png" />
        <span class="category">حياه</span>
        <span class="title">اغرب 10 اخطاء يندم اصحابها على ارتكابها</span>
    </div>
    <div class="relatedlist">
        <img src="/content/imgs/lists/l1.png" />
        <span class="category">المراه</span>
        <span class="title">افضل عشر اكلات مغذيه لطفلك اثناء الحمل</span>
    </div>
    <div class="relatedlist">
        <img src="/content/imgs/lists/l2.png" />
        <span class="category">المراه</span>
        <span class="title">اسرع 10 طريق للحفاظ على بشرتك يوميا</span>
    </div>
</div>
<div class="itemview">
    <div class="item">
        <img src="/content/imgs/lists/l7.png" />
        <h2>رجل معلق فوق النهر</h2>
        <span class="order">6</span>
    </div>
    <div class="item">
        <img src="/content/imgs/lists/l6.png" />
        <h2>رجل يدفن طفل حيا في نيجيريا</h2>
        <span class="order">5</span>
    </div>
    <div class="item">
        <img src="/content/imgs/lists/l5.png" />
        <h2>منظر طبيعي وحيقيقي في جزيرة في المحيط الهادي بدون اي تعديلات</h2>
        <span class="order">4</span>
    </div>
    <div class="item">
        <img src="/content/imgs/lists/l3.png" />
        <h2>خليط من الالوان بدرجة تصوير عاليه</h2>
        <span class="order">3</span>
    </div>
    <div class="item">
        <img src="/content/imgs/lists/l2.png" />
        <h2>حياه</h2>
        <span class="order">2</span>
    </div>
    <div class="item">
        <img src="/content/imgs/lists/l1.png" />
        <h2>حياه</h2>
        <span class="order">1</span>
    </div>
</div>
